<h1>Transações</h1>

<%= breadcrumb %>
<%= messages %>

<div class="actions">
    <%= form_tag nil, method: :get do %>
      <div class="row">
        <%= render partial: "application/periodo" %>

        <% if [AdminUser, FranquiaUser].include?current_user.class %>
          <div class="col-md-6">
            <%= label_tag :estabelecimento_id, "Estabelecimento", class: "control-label" %>
            <%= select_tag :estabelecimento_id, options_for_select(@estabelecimentos.collect {|e| [e.nome, e.id]}, @estabelecimento_id), include_blank: true, class: "form-control" %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= label_tag :q, "Filtro de Pesquisa (Cliente/Operador/Número Transação/Pagamento)", class: "control-label" %>
          <%= text_field_tag :q, @filter, class:  "form-control input-sm" %>
        </div>
        <div class="col-md-6">
          <%= label_tag :tipo_operacao, "Tipo de Operação", class: "control-label" %>
          <%= select_tag :tipo_operacao, options_for_select(Transacao.formas.invert, @tipo_operacao), include_blank: true, class: "form-control input-sm" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="checkbox">
            <label>
              <%= check_box_tag :exibir_canceladas, "S", @exibir_canceladas == "S" %> Exibir canceladas
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <br>
          <div class="btn-group">
            <button class="btn btn-primary" type="submit">Pesquisar</button>
            <input type="submit" value="Gerar PDF" class="btn btn-default" name="pdf">
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= paginate @transacoes %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Tipo</th>
      <th>Pagamento</th>
      <th>Operador</th>
      <th>Documento</th>
      <th>Data</th>
      <th>Cliente</th>
      <%= content_tag :th, "Estabelecimento" if [AdminUser, FranquiaUser].include? current_user.class %>
      <%= content_tag :th, "Cancelamento" if current_user.is_a? EstabelecimentoUser %>
      <th class="text-right">Vlr.Transação</th>
      <th class="text-right">Vlr.Bônus</th>
    </tr>
  </thead>

  <tbody>
    <% @transacoes.each do |transacao| %>
      <tr class="<%= tr_class transacao %>">
        <td><%= transacao.id %></td>
        <td><%= Transacao.formas[transacao.forma_pagamento.to_sym] %></td>
        <td><%= transacao.tipo_pagamento ? Transacao.tipos[transacao.tipo_pagamento.to_sym] : nil %></td>
        <td><%= transacao.operador.nome %></td>
        <td><%= transacao.documento %></td>
        <td><%= transacao.created_at.to_s_br %></td>
        <td><%= transacao.cliente_user.nome %></td>
        <%= content_tag :td, transacao.operador.estabelecimento_user.nome if [AdminUser, FranquiaUser].include? current_user.class %>
        <% if current_user.is_a? EstabelecimentoUser %>
          <td>
            <%= link_to "Cancelar", cancelar_admin_transacao_path(transacao), data: { remote: true, cancelar: true }, class: "text-danger" if exibir_cancelamento_admin?(transacao) %>
            <%= content_tag :span, transacao.motivo if transacao.cancelada %>
            <%= content_tag :span, "Não pode ser cancelada" if !transacao.cancelada && !exibir_cancelamento_admin?(transacao) %>
          </td>
        <% end %>
        <td class="text-right"><%= Dinheiro.new(transacao.vlr_gasto).real_formatado %></td>
        <td class="text-right"><%= Dinheiro.new(transacao.valor_pago_pelo_estabelecimento).real_formatado %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="8" class="text-right">Valor Total: </td>
      <td class="text-right">
        <%= Dinheiro.new(@total || 0).real_formatado %>
      </td>
      <td class="text-right">
        <%= Dinheiro.new(@total_bonus || 0).real_formatado %>
      </td>
    </tr>
  </tfoot>
</table>

<div id="modal">
</div>