<%= paginate @movimentos %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Data</th>
      <th>Tipo</th>
      <th>Descrição</th>
      <th class="text-right">Valor</th>
    </tr>
  </thead>

  <% if @movimentos.to_a.any? %>
    <tbody>
      <% @movimentos.to_a.each do |movimento| %>
        <tr>
          <td><%= movimento.data.to_s_br %></td>
          <td><%= movimento.vlr > 0 ? "Entrada" : "Saída" %></td>
          <td><%= movimento.descricao %></td>
          <td class="text-right"><%= Dinheiro.new(movimento.vlr).real_formatado %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="4">Nenhum Movimento Encontrado</td>
    </tr>
  <% end %>

</table>