<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="titulo txtDourado">Esqueceu sua senha?</h1>

      <%= form_for(resource, :as => resource_name, :url => cliente_user_password_path, :html => { :method => :post }) do |f| %>
        <%= raw resource.errors.full_messages.map { |msg| content_tag(:div, msg, class: "alert alert-danger") }.join %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= f.email_field :email, class: 'form-control', required: true, autofocus: true, placeholder: "E-Mail" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <br>
            <%= f.submit "Enviar por e-mail instruções para alteração da senha", class: "btn btn-primary btn-sm pull-right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= render "devise/shared/links" %>
