<div class="row">
  <div class="col-md-6">
    <%= form_for(@tipo, html: { multipart: true }) do |f| %>
      
      <div class="row">
        <div class="<%= get_class_control_form(@tipo, 'descricao') %> col-md-12">
          <%= f.label :descricao, 'Descrição', class: 'control-label' %>
          <%= f.text_field :descricao, class: 'form-control', autofocus: true, required: true  %>
          <span class="help-block"><%= @tipo.errors.messages[:descricao].join %></span>
        </div>
      </div>

      <div class="row">
        <div class="<%= get_class_control_form(@tipo, 'quantidade_indicacoes') %>  col-md-4">
          <%= f.label :quantidade_indicacoes, 'Pontos de Indicação', class: 'control-label' %>
          <%= f.number_field :quantidade_indicacoes, class: 'form-control', required: true %>
          <span class="help-block"><%= @tipo.errors.messages[:quantidade_indicacoes].join %></span>
        </div>
      </div>

      <div class="row">
        <div class="<%= get_class_control_form(@tipo, 'imagem') %> col-md-12">
          <%= f.label :imagem, 'Imagem (Se não informado será mantida a imagem anterior)', class: 'control-label' if @tipo.id %>
          <%= f.label :imagem, 'Imagem', class: 'control-label' unless @tipo.id %>
          <%= f.file_field :imagem %>
          <span class="help-block"><%= @tipo.errors.messages[:imagem].join %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.submit 'Gravar', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>