<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="titulo txtDourado">ESTIMATIVA DE GANHOS</h1>
      <h4>Veja como é fácil ganhar bônus e prêmios.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 content-estimativa ">
          <%= image_tag "frontend/estimativa_mulher.png", alt: "Estimativa de Ganhos", class: "estimativa-mulher" %>

          <div class="row">
            <div class="col-md-9 col-md-offset-3 text-right">
              <h4 style="color: #a52a2c; padding: 25px 0;" class="text-center"><i class="glyphicon glyphicon-zoom-in"></i> Clique nas Imagens para Ampliar</h4>
              <a href="#" data-toggle="modal" data-target="#modal-basico">
                <%= image_tag "frontend/estimativa_basico.jpg", alt: "Estimatva Ganhos", class: "tabela-estimativa" %>
              </a>
            </div>
          </div>

          <div class="row" style="padding: 25px 0;">
            <div class="col-md-9 col-md-offset-3 text-right">
              <a href="#" data-toggle="modal" data-target="#modal-advanced">
                <%= image_tag "frontend/estimativa_advanced.jpg", alt: "Estimativa de Ganhos Plano Advanced", class: "tabela-estimativa"  %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-basico">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Estimativa de Ganhos</h4>
      </div>

      <div class="modal-body">
        <%= image_tag "frontend/estimativa_basico.jpg", alt: "Estimatva Ganhos", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-advanced">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Estimativa de Ganhos</h4>
      </div>

      <div class="modal-body">
        <%= image_tag "frontend/estimativa_advanced.jpg", alt: "Estimatva Ganhos", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>