<h1>Franquias <small>Gerenciamento</small></h1>

<%= breadcrumb %>
<%= messages %>

<div class="actions">
  <div class="row">
    <%= form_tag nil, method: :get do %>
      <div class="col-md-3">
        <%= text_field_tag :q, @filter, placeholder: "Filtro de Pesquisa", class:  "form-control" %>
      </div>
      <div class="col-md-9">
        <button class="btn btn-primary" type="submit">Pesquisar</button>
        <%= link_to 'Nova Franquia', new_franquia_user_path, class: 'btn btn-success btn-sm pull-right' %>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @users %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
    <th>#</th>
      <th data-order="nome">Nome</th>
      <th data-order="description">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user %></td>
        <td><%= user.nome %></td>
        <td><%= user.email %></td>
        <td><%= link_to t('Edit'), edit_franquia_user_path(user) %></td>
        <td><%= link_to t('Destroy'), user, method: :delete, data: { confirm: 'Você confirma a exclusão?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>