<p>O sistema ConsumerCard gerou um boleto de cobrança.</p>

<p>
  <strong>Valor:</strong>
  <%= Dinheiro.new(@pagamento.valor).real_formatado %>
</p>
<p>
  <strong>Data/Hora de Emissão:</strong>
  <%= @pagamento.created_at.to_s_br %>
</p>
<p>
  <strong>Data de Vencimento:</strong>
  <%= @pagamento.data_vencimento.to_s_br %>
</p>

<p>
  <strong>Cedente:</strong>
  <%= @pagamento.destino.nome %>
</p>

<p>
  <strong>Sacado:</strong>
  <%= @pagamento.origem.nome %>
</p>